<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <title>Jasmine Specs</title>

    <%= stylesheet_link_tag *jasmine_css_files %>
    <%= javascript_include_tag *jasmine_js_files %>
  </head>
  <body data-no-turbolink>
    <div id="jasmine_content"></div>
    <%= yield %>

    <%= requirejs_include_tag if requirejs_spec_loading? %>
    <% if requirejs_spec_loading? %>
      <script type="text/javascript">
      // jshint ignore: start
        require(<%= jasmine_spec_files.map { |file| "#{javascript_path file}"}.to_s.html_safe %>, function (){
          window.executeTests();
        });
      </script>
    <% end %>
  </body>
</html>
