<%
#This file is a controlled mess to provide a page you can load with your browser when 
# JHW doesn't provide sufficient console feedback.
# at some point the jasmine-gem will support Rails 3.1 / assets / Coffee. 
# see this thread on the jasmine group: http://groups.google.com/group/jasmine-js/browse_thread/thread/c9c30854ecfd915d
require 'jasmine-core'
require 'jasmine'

jasmine_path = Jasmine::Core.path
jasmine_files = Jasmine::Core.js_files.map {|f| "/#{jasmine_path}/#{f}"}
css_files = Jasmine::Core.css_files.map {|f| "/#{jasmine_path}/#{f}"}
%>
<!DOCTYPE html>
<html>
  <head>
    <!-- jasmine -->
    <% css_files.each do |css_file| %>
      <style type="text/css" media="screen" data-path="<%=css_file%>">
        <%= raw File.read(css_file) %>
      </style>
    <% end %>


    <% Jasmine::Core.js_files.map do |f| %>
      <script type="text/javascript" src="lib/<%=f%>"></script>
    <% end %>

    <!-- css -->
    <%= stylesheet_link_tag    "application" %>

    <!-- sources -->    
    <%= javascript_include_tag "application" %>
    
    <% Jasmine::Config.new.spec_files_full_paths.each do |path| %>
      <script type="text/javascript" data-path="<%=path%>">
        <%= raw(path.end_with?('.coffee') ? CoffeeScript.compile(File.read(path)) : File.read(path)) %>
      </script>
    <% end %>
    
    <!-- executing runner -->
    <script type="text/javascript">
      var jsApiReporter;
      (function() {
        var jasmineEnv = jasmine.getEnv();

        jsApiReporter = new jasmine.JsApiReporter();
        var trivialReporter = new jasmine.TrivialReporter();

        jasmineEnv.addReporter(jsApiReporter);
        jasmineEnv.addReporter(trivialReporter);

        jasmineEnv.specFilter = function(spec) {
          return trivialReporter.specFilter(spec);
        };

        var currentWindowOnload = window.onload;

        window.onload = function() {
          if (currentWindowOnload) {
            currentWindowOnload();
          }
          execJasmine();
        };

        function execJasmine() {
          jasmineEnv.execute();
        }

      })();
    </script>
  </head>
  <body>
    <div id="jasmine_content"></div>
    <%= yield %>
  <body>
</html>